version: "3.5"

services:
  node:
    image: node:20.16
    working_dir: /app
    user: "${DOCKER_USER:-1000}"
    ports:
      - "3200:3200"
      - "3201:3201"
      - "6006:6006"
    volumes:
      - .:/app

  crowdin:
    image: crowdin/cli:3.10.0
    user: "${DOCKER_USER:-1000}"
    working_dir: /app
    env_file: env.d/crowdin
    volumes:
      - ".:/app"
