:root {
	--c--theme--colors--secondary-text: var(--c--theme--colors--greyscale-700);
	--c--theme--colors--secondary-100: #F2F7FC;
	--c--theme--colors--secondary-200: #EBF3FA;
	--c--theme--colors--secondary-300: #E2EEF8;
	--c--theme--colors--secondary-400: #DDEAF7;
	--c--theme--colors--secondary-500: #D4E5F5;
	--c--theme--colors--secondary-600: #C1D0DF;
	--c--theme--colors--secondary-700: #97A3AE;
	--c--theme--colors--secondary-800: #757E87;
	--c--theme--colors--secondary-900: #596067;
	--c--theme--colors--info-text: var(--c--theme--colors--greyscale-000);
	--c--theme--colors--info-100: #EBF2FC;
	--c--theme--colors--info-200: #8CB5EA;
	--c--theme--colors--info-300: #5894E1;
	--c--theme--colors--info-400: #377FDB;
	--c--theme--colors--info-500: #055FD2;
	--c--theme--colors--info-600: #0556BF;
	--c--theme--colors--info-700: #044395;
	--c--theme--colors--info-800: #033474;
	--c--theme--colors--info-900: #022858;
	--c--theme--colors--greyscale-100: #FAFAFB;
	--c--theme--colors--greyscale-200: #F3F4F4;
	--c--theme--colors--greyscale-300: #E7E8EA;
	--c--theme--colors--greyscale-400: #C2C6CA;
	--c--theme--colors--greyscale-500: #9EA3AA;
	--c--theme--colors--greyscale-600: #79818A;
	--c--theme--colors--greyscale-700: #555F6B;
	--c--theme--colors--greyscale-800: #303C4B;
	--c--theme--colors--greyscale-900: #0C1A2B;
	--c--theme--colors--greyscale-000: #FFFFFF;
	--c--theme--colors--primary-100: #EBF2FC;
	--c--theme--colors--primary-200: #8CB5EA;
	--c--theme--colors--primary-300: #5894E1;
	--c--theme--colors--primary-400: #377FDB;
	--c--theme--colors--primary-500: #055FD2;
	--c--theme--colors--primary-600: #0556BF;
	--c--theme--colors--primary-700: #044395;
	--c--theme--colors--primary-800: #033474;
	--c--theme--colors--primary-900: #022858;
	--c--theme--colors--success-100: #EFFCD3;
	--c--theme--colors--success-200: #DBFAA9;
	--c--theme--colors--success-300: #BEF27C;
	--c--theme--colors--success-400: #A0E659;
	--c--theme--colors--success-500: #76D628;
	--c--theme--colors--success-600: #5AB81D;
	--c--theme--colors--success-700: #419A14;
	--c--theme--colors--success-800: #2C7C0C;
	--c--theme--colors--success-900: #1D6607;
	--c--theme--colors--warning-100: #FFF8CD;
	--c--theme--colors--warning-200: #FFEF9B;
	--c--theme--colors--warning-300: #FFE469;
	--c--theme--colors--warning-400: #FFDA43;
	--c--theme--colors--warning-500: #FFC805;
	--c--theme--colors--warning-600: #DBA603;
	--c--theme--colors--warning-700: #B78702;
	--c--theme--colors--warning-800: #936901;
	--c--theme--colors--warning-900: #7A5400;
	--c--theme--colors--danger-100: #F4B0B0;
	--c--theme--colors--danger-200: #EE8A8A;
	--c--theme--colors--danger-300: #E65454;
	--c--theme--colors--danger-400: #E13333;
	--c--theme--colors--danger-500: #DA0000;
	--c--theme--colors--danger-600: #C60000;
	--c--theme--colors--danger-700: #9B0000;
	--c--theme--colors--danger-800: #780000;
	--c--theme--colors--danger-900: #5C0000;
	--c--theme--colors--primary-text: var(--c--theme--colors--greyscale-000);
	--c--theme--colors--success-text: var(--c--theme--colors--greyscale-000);
	--c--theme--colors--warning-text: var(--c--theme--colors--greyscale-000);
	--c--theme--colors--danger-text: var(--c--theme--colors--greyscale-000);
	--c--theme--font--sizes--h1: 1.75rem;
	--c--theme--font--sizes--h2: 1.375rem;
	--c--theme--font--sizes--h3: 1.125rem;
	--c--theme--font--sizes--h4: 0.8125rem;
	--c--theme--font--sizes--h5: 0.625rem;
	--c--theme--font--sizes--h6: 0.5rem;
	--c--theme--font--sizes--l: 1rem;
	--c--theme--font--sizes--m: 0.8125rem;
	--c--theme--font--sizes--s: 0.6875rem;
	--c--theme--font--weights--thin: 200;
	--c--theme--font--weights--light: 300;
	--c--theme--font--weights--regular: 400;
	--c--theme--font--weights--medium: 500;
	--c--theme--font--weights--bold: 600;
	--c--theme--font--weights--extrabold: 700;
	--c--theme--font--weights--black: 800;
	--c--theme--font--families--base: "Roboto Flex Variable", sans-serif;
	--c--theme--font--families--accent: "Roboto Flex Variable", sans-serif;
	--c--theme--font--letterspacings--h1: normal;
	--c--theme--font--letterspacings--h2: normal;
	--c--theme--font--letterspacings--h3: normal;
	--c--theme--font--letterspacings--h4: normal;
	--c--theme--font--letterspacings--h5: 1px;
	--c--theme--font--letterspacings--h6: normal;
	--c--theme--font--letterspacings--l: normal;
	--c--theme--font--letterspacings--m: normal;
	--c--theme--font--letterspacings--s: normal;
	--c--theme--spacings--xl: 4rem;
	--c--theme--spacings--l: 3rem;
	--c--theme--spacings--b: 1.625rem;
	--c--theme--spacings--s: 1rem;
	--c--theme--spacings--t: 0.5rem;
	--c--theme--spacings--st: 0.25rem;
	--c--theme--transitions--ease-in: cubic-bezier(0.32, 0, 0.67, 0);
	--c--theme--transitions--ease-out: cubic-bezier(0.33, 1, 0.68, 1);
	--c--theme--transitions--ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
	--c--theme--transitions--duration: 250ms;
	--c--theme--breakpoints--xs: 0;
	--c--theme--breakpoints--sm: 576px;
	--c--theme--breakpoints--md: 768px;
	--c--theme--breakpoints--lg: 992px;
	--c--theme--breakpoints--xl: 1200px;
	--c--theme--breakpoints--xxl: 1400px;
}
.cunningham-theme--dark{
	--c--theme--colors--greyscale-100: #182536;
	--c--theme--colors--greyscale-200: #303C4B;
	--c--theme--colors--greyscale-300: #555F6B;
	--c--theme--colors--greyscale-400: #79818A;
	--c--theme--colors--greyscale-500: #9EA3AA;
	--c--theme--colors--greyscale-600: #C2C6CA;
	--c--theme--colors--greyscale-700: #E7E8EA;
	--c--theme--colors--greyscale-800: #F3F4F4;
	--c--theme--colors--greyscale-900: #FAFAFB;
	--c--theme--colors--greyscale-000: #0C1A2B;
	--c--theme--colors--primary-100: #3B4C62;
	--c--theme--colors--primary-200: #4D6481;
	--c--theme--colors--primary-300: #6381A6;
	--c--theme--colors--primary-400: #7FA5D5;
	--c--theme--colors--primary-500: #8CB5EA;
	--c--theme--colors--primary-600: #A3C4EE;
	--c--theme--colors--primary-700: #C3D8F4;
	--c--theme--colors--primary-800: #DDE9F8;
	--c--theme--colors--primary-900: #F4F8FD;
	--c--theme--colors--success-100: #EEF8D7;
	--c--theme--colors--success-200: #D9F1B2;
	--c--theme--colors--success-300: #BDE985;
	--c--theme--colors--success-400: #A0E25D;
	--c--theme--colors--success-500: #76D628;
	--c--theme--colors--success-600: #5BB520;
	--c--theme--colors--success-700: #43941A;
	--c--theme--colors--success-800: #307414;
	--c--theme--colors--success-900: #225D10;
	--c--theme--colors--warning-100: #F7F3D5;
	--c--theme--colors--warning-200: #F0E5AA;
	--c--theme--colors--warning-300: #E8D680;
	--c--theme--colors--warning-400: #E3C95F;
	--c--theme--colors--warning-500: #D9B32B;
	--c--theme--colors--warning-600: #BD9721;
	--c--theme--colors--warning-700: #9D7B1C;
	--c--theme--colors--warning-800: #7E6016;
	--c--theme--colors--warning-900: #684D12;
	--c--theme--colors--danger-100: #F8D0D0;
	--c--theme--colors--danger-200: #F09898;
	--c--theme--colors--danger-300: #F09898;
	--c--theme--colors--danger-400: #ED8585;
	--c--theme--colors--danger-500: #E96666;
	--c--theme--colors--danger-600: #DD6666;
	--c--theme--colors--danger-700: #C36666;
	--c--theme--colors--danger-800: #AE6666;
	--c--theme--colors--danger-900: #9D6666;
}
.cunningham-theme--redflux_dark{
	--c--theme--colors--primary-text: #FFFFFF;
	--c--theme--colors--primary-100: #FA8D92;
	--c--theme--colors--primary-200: #F95B63;
	--c--theme--colors--primary-300: #F72A35;
	--c--theme--colors--primary-400: #E50914;
	--c--theme--colors--primary-500: #C30811;
	--c--theme--colors--primary-600: #A0060E;
	--c--theme--colors--primary-700: #7E050B;
	--c--theme--colors--primary-800: #5C0408;
	--c--theme--colors--primary-900: #390205;
	--c--theme--colors--secondary-text: #FFF;
	--c--theme--colors--secondary-100: #1b5ad7;
	--c--theme--colors--secondary-200: #146cea;
	--c--theme--colors--secondary-300: #007ffe;
	--c--theme--colors--secondary-400: #008eff;
	--c--theme--colors--secondary-500: #279eff;
	--c--theme--colors--secondary-600: #56b0ff;
	--c--theme--colors--secondary-700: #8ac6ff;
	--c--theme--colors--secondary-800: #b9dcff;
	--c--theme--colors--secondary-900: #e2f1ff;
	--c--theme--colors--greyscale-000: #000000BB;
	--c--theme--colors--greyscale-100: #191919BB;
	--c--theme--colors--greyscale-200: #232323;
	--c--theme--colors--greyscale-300: #292929;
	--c--theme--colors--greyscale-400: #343434;
	--c--theme--colors--greyscale-500: #404040;
	--c--theme--colors--greyscale-600: #aaaaaa;
	--c--theme--colors--greyscale-700: #cccccc;
	--c--theme--colors--greyscale-800: #eeeeee;
	--c--theme--colors--greyscale-900: #f7f7f7;
	--c--theme--colors--danger-900: #FACED0;
	--c--theme--colors--danger-800: #F7A9AD;
	--c--theme--colors--danger-700: #F38389;
	--c--theme--colors--danger-600: #F05E66;
	--c--theme--colors--danger-500: #EC3942;
	--c--theme--colors--danger-400: #D8151F;
	--c--theme--colors--danger-300: #A51017;
	--c--theme--colors--danger-200: #720B10;
	--c--theme--colors--danger-100: #3F0609;
	--c--theme--colors--info-900: #53A4FD;
	--c--theme--colors--info-800: #2B8FFC;
	--c--theme--colors--info-700: #047AFA;
	--c--theme--colors--info-600: #0366D2;
	--c--theme--colors--info-500: #0255AF;
	--c--theme--colors--info-400: #02448C;
	--c--theme--colors--info-300: #013368;
	--c--theme--colors--info-200: #012245;
	--c--theme--colors--info-100: #001122;
	--c--theme--colors--success-900: #A9F7C0;
	--c--theme--colors--success-800: #8DF4AC;
	--c--theme--colors--success-700: #71F198;
	--c--theme--colors--success-600: #55EF83;
	--c--theme--colors--success-500: #39EC6F;
	--c--theme--colors--success-400: #14CF4C;
	--c--theme--colors--success-300: #0E9236;
	--c--theme--colors--success-200: #085620;
	--c--theme--colors--success-100: #021909;
	--c--theme--colors--warning-900: #EAC88B;
	--c--theme--colors--warning-800: #E4BA6D;
	--c--theme--colors--warning-700: #DFAB4F;
	--c--theme--colors--warning-600: #D99D31;
	--c--theme--colors--warning-500: #B68121;
	--c--theme--colors--warning-400: #8A621A;
	--c--theme--colors--warning-300: #5F4412;
	--c--theme--colors--warning-200: #34250A;
	--c--theme--colors--warning-100: #090702;
	--c--theme--font--families--base: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
	--c--theme--font--families--accent: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
	--c--components--button--border-radius: 0.1875rem;
	--c--components--forms-input--border-radius: 0.1875rem;
	--c--components--forms-input--border-color: var(--c--theme--colors--greyscale-500);
	--c--components--forms-input--border-color--hover: var(--c--theme--colors--greyscale-600);
	--c--components--forms-input--background-color: var(--c--theme--colors--greyscale-100);
	--c--components--forms-input--label-color--focus: var(--c--theme--colors--greyscale-700);
	--c--components--forms-select--border-radius: 0.1875rem;
	--c--components--forms-select--border-color: var(--c--theme--colors--greyscale-500);
	--c--components--forms-select--border-color--hover: var(--c--theme--colors--greyscale-600);
	--c--components--forms-select--background-color: var(--c--theme--colors--greyscale-100);
	--c--components--forms-select--border-color--focus: var(--c--theme--colors--greyscale-700);
	--c--components--forms-select--label-color--focus: var(--c--theme--colors--greyscale-700);
	--c--components--forms-select--menu-background-color: #191919;
	--c--components--forms-select--item-background-color--selected: var(--c--theme--colors--primary-600);
	--c--components--forms-datepicker--border-radius: 0.1875rem;
	--c--components--forms-datepicker--border-color: var(--c--theme--colors--greyscale-500);
	--c--components--forms-datepicker--border-color--hover: var(--c--theme--colors--greyscale-600);
	--c--components--forms-datepicker--background-color: var(--c--theme--colors--greyscale-100);
	--c--components--forms-datepicker--border-color--focus: var(--c--theme--colors--greyscale-700);
	--c--components--forms-datepicker--label-color--focus: var(--c--theme--colors--greyscale-700);
	--c--components--forms-datepicker--menu-background-color: #191919;
	--c--components--forms-datepicker--grid-cell--border-color--today: var(--c--theme--colors--greyscale-800);
	--c--components--forms-datepicker--grid-cell--color--today: var(--c--theme--colors--greyscale-800);
	--c--components--forms-datepicker--range-selection-background-color: var(--c--theme--colors--primary-900);
	--c--components--forms-datepicker--item-background-color--selected: var(--c--theme--colors--primary-600);
	--c--components--forms-fileuploader--border-color: var(--c--theme--colors--greyscale-500);
	--c--components--forms-fileuploader--border-color--hover: var(--c--theme--colors--greyscale-600);
	--c--components--forms-fileuploader--background-color: var(--c--theme--colors--greyscale-100);
	--c--components--forms-fileuploader--background-color--active: var(--c--theme--colors--greyscale-500);
	--c--components--forms-fileuploader--accent-color: var(--c--theme--colors--greyscale-800);
	--c--components--forms-textarea--border-radius: 0.1875rem;
	--c--components--forms-textarea--border-color: var(--c--theme--colors--greyscale-500);
	--c--components--forms-textarea--border-color--hover: var(--c--theme--colors--greyscale-600);
	--c--components--forms-textarea--background-color: var(--c--theme--colors--greyscale-100);
	--c--components--forms-textarea--border-color--focus: var(--c--theme--colors--greyscale-700);
	--c--components--forms-textarea--label-color--focus: var(--c--theme--colors--greyscale-700);
	--c--components--forms-checkbox--border-radius: 0.1875rem;
	--c--components--forms-checkbox--accent-color: var(--c--theme--colors--greyscale-100);
	--c--components--forms-checkbox--background-color: var(--c--theme--colors--greyscale-800);
	--c--components--forms-switch--handle-border-radius: 0.3rem;
	--c--components--forms-switch--rail-border-radius: 0.500rem;
	--c--components--forms-switch--accent-color: var(--c--theme--colors--greyscale-800);
	--c--components--forms-switch--handle-background-color: var(--c--theme--colors--greyscale-100);
	--c--components--forms-switch--rail-background-color: var(--c--theme--colors--greyscale-400);
	--c--components--forms-radio--accent-color: var(--c--theme--colors--greyscale-100);
	--c--components--forms-radio--background-color: var(--c--theme--colors--greyscale-800);
	--c--components--modal--border-radius: 0.1875rem;
	--c--components--modal--background-color: #191919;
	--c--components--card--border-radius: 0.1875rem;
	--c--components--card--border-width: none;
	--c--components--card--box-shadow: rgba(255, 220, 220, 0.05) 0px 0px 60px 10px;
}
