@import "@openfun/cunningham-react/sass/fonts";
@import "@openfun/cunningham-react/sass/icons";
@import "@openfun/cunningham-react/style";
@import "cunningham-tokens";

:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #242424;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.center {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1, h3 {
    color: white;
    margin-bottom: 40px;
  }
}