@use "@openfun/cunningham-react/sass/fonts";
@use "@openfun/cunningham-react/sass/icons";
@use "@openfun/cunningham-react/style";
@use "cunningham-tokens";


// Reset
h1 {
  font-family: var(--c--theme--font--families--accent);
  font-size: 4rem;
  margin: 0;
}

p {
  margin: 0;
}


// App
html {
  min-height: 100vh;
  padding-bottom: 5rem;
  background: linear-gradient(153deg, var(--c--theme--colors--greyscale-100) 0%, var(--c--theme--colors--greyscale-000) 100%);
}

.pattern {
  position: absolute;
  z-index: -1;
  top: -200px;
  left: -290px;
  transform: rotate(335deg);
}

.theme-switch {
  position: fixed;
  right: 1rem;
  top: 0.75rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  --c--components--forms-field--width: 150px;
}

.card {
  background-color: var(--c--theme--colors--greyscale-000);
  padding: 2rem;
  border-radius: 4px;
  border: 1px var(--c--theme--colors--greyscale-300) solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cunningham-theme--dark {
  .card {
    box-shadow: none;
    border: none;
  }
}

.container {
  margin: auto;
  position: relative;

  width: 1100px;
  @media (max-width: 1200px) {
    width: calc(100% - 2rem);
  }
}


// Home
.page__home {
  &__title {
    gap: 1.5rem;
    margin: 4rem 0;

    h1 {
    }

    button {
      margin-top: 1.5rem;
    }
  }
}

html[data-theme="redflux"] {
  background: #000000D7 url(redflux_bg.webp) 50%/cover no-repeat fixed;
  background-blend-mode: darken;
}

// Create
.page__create {
  h1 {
    text-align: center;
    margin: 4rem 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h3, h4 {
      margin: 0;
    }
  }
}
