.c__button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color var(--c--theme--transitions--duration) var(--c--theme--transitions--ease-out);

  padding: 0 var(--c--theme--spacings--s);

  height: var(--c--components--button--height);
  border-radius: var(--c--components--button--border-radius);
  font-size: var(--c--components--button--font-size);
  font-weight: var(--c--components--button--font-weight);

  &--with-icon--left, &--with-icon--right {
    gap: var(--c--theme--spacings--t);
  }

  &--with-icon--left {
    padding: 0 var(--c--theme--spacings--s) 0 var(--c--theme--spacings--t);
  }

  &--with-icon--right {
    padding: 0 var(--c--theme--spacings--t) 0 var(--c--theme--spacings--s);
  }

  &--primary {
    background-color: var(--c--theme--colors--primary-500);
    color: var(--c--theme--colors--primary-text);

    &:hover {
      background-color: var(--c--theme--colors--primary-600);
    }

    &:active {
      background-color: var(--c--theme--colors--primary-500);
    }
  }

  &--secondary {
    background-color: var(--c--theme--colors--secondary-500);
    color: var(--c--theme--colors--secondary-text);

    &:hover {
      background-color: var(--c--theme--colors--secondary-600);
    }

    &:active {
      background-color: var(--c--theme--colors--secondary-500);
    }
  }

  &--tertiary {
    background-color: transparent;
    color: var(--c--theme--colors--greyscale-800);

    &:hover {
      color: var(--c--theme--colors--greyscale-900);
    }

    &:active {
      color: var(--c--theme--colors--greyscale-800);
    }
  }

  &--danger {
    background-color: var(--c--theme--colors--danger-500);
    color: var(--c--theme--colors--danger-text);

    &:hover {
      background-color: var(--c--theme--colors--danger-600);
    }

    &:active {
      background-color: var(--c--theme--colors--danger-500);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: var(--c--theme--colors--greyscale-200);
    color: var(--c--theme--colors--greyscale-400);
  }
}